/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Some style for the whole html document */
html{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
/* Some style for the links */
a, a:active {
  text-decoration: none;
  color: inherit;
}
/* The class link is manually used for styling links */
a.link:link, a.link:visited{
  text-decoration: underline 0.1em;
  text-decoration-color: #b3b3b3;
  transition: text-decoration-color 300ms;
  transition: color 300ms;
}
a.link:hover{
  text-decoration: underline 0.1em;
  color: crimson;
}
/* Button */
.cta{
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: .07rem;
  transition: .4s ease;
  transition-property: background-color, color;
}
.cta:hover{
  color: white;
  background-color: crimson;
}
/* Each section has a container */
.container{
  min-height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* There is one of these bad bois for the papers stuff */
.geometry{
  max-width: 1300px;
  margin: auto;
  margin-top: 100px;
}
.title{
  font-size: 3.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform:  uppercase;
  letter-spacing: .2rem;
}
/* Section customization */
.section-title{
  font-size: 4.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform:  uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
.subsection-title{
  font-size: 2.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 30px;
  letter-spacing: .1rem;
  text-align: left;
}
.section-description{
  font-size: 1.7rem;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: left;
}
/* Page introduction */
.page-introduction{
  padding: 4px 8px 4px 8px;
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  color: white;
  background-color: rgba(220,20,60,0.95);
}
/* Subtitles in some pages */
.subtitle{
  font-size: 3rem;
  text-align: left;
  margin: 50px auto 0 40px;
}
/* PDF frames */
.pdf-frame{
  align: center;
  width: 100%;
  margin: 15px auto 0 auto;
}
.pdf-frame iframe{
  width: 70%;
  height: 700px;
  border: transparent;
}
/* Header section */
#header{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header{
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0);
  transition: .3s background-color;
}
#header .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .navbar ul{
  list-style: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 300ms ease left;
}
#header .navbar ul.active{
  left: 0;
}
#header .navbar ul li a{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 20px;
  display: block;
}
#header .navbar ul li a.activepage{
  border-color: white;
}
#header .navbar ul li:hover a{
  color: crimson;
  transition: color 300ms ease;
}
#header .navbar ul li:hover a.activepage{
  border-color: crimson;
  transition: 300ms ease;
}
#header .menu{
  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(.8)
}
#header .menu .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .menu .bar::after,
#header .menu .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: .3s ease;
  transition-property: top, bottom;
}
#header .menu .bar::after{
  top: 8px;
}
#header .menu .bar::before{
  bottom: 8px;
}
#header .menu.active .bar::before{
  bottom: 0;
}
#header .menu.active .bar::after{
  top: 0;
}
/* END header section */

/* Jaime section */
#Jaime{
  background-image: url(./img/jaime-bg.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#Jaime .container{
  min-height: 100vh;
}
#Jaime::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:  100%;
  background-color: black;
  opacity: .3;
  z-index: -1;
}
#Jaime .Jaime{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#Jaime h1{
  display: block;
  width: fit-content;
  font-size: 7rem;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}
#Jaime h1:nth-child(1){
  animation-delay: 1s;
}
#Jaime h1:nth-child(2){
  animation-delay: 2s;
}
#Jaime h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}
#Jaime h1:nth-child(1) span{
  animation-delay: .5s;
}
#Jaime h1:nth-child(2) span{
  animation-delay: 1.5s;
}
/* END Jaime section */
/* Aboutme section */
.aboutme{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

.downloadButton{
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 30px 0;
}
/* Especifically for aboutme, but not necessary

#aboutme .section-title{
  font-size: 4.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform:  uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
#aboutme .section-description{
  font-size: 1.7rem;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: left;
}
#aboutme .cta{
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: .07rem;
  transition: .4s ease;
  transition-property: background-color, color;
}
#aboutme .cta:hover{
  color: white;
  background-color: crimson;
}
*/
/* END Aboutme section*/

/* Projects Page Introduction section */
#projects-description{
  background-image: url(./img/projects-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
/* END Projects Page Introduction section */
/* QED section */
.QED{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 100px;
}
#QED .QED{
  padding-top: 20px;
}
#LaTeX2InD .container{
  min-height: 0vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Especifically for QED, but not necessary

#QED .section-title{
  font-size: 4.5rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform:  uppercase;
  letter-spacing: .2rem;
  text-align: center;
}
#QED .section-description{
  font-size: 1.7rem;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: .05rem;
  text-align: left;
}
*/
/* END QED section*/


/* Lecture Notes Page Introduction section */
#lecturenotes-description{
  background-image: url(./img/lecturenotes-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
/* END Lecture Notes Page Introduction section */
/* Lecture Notes Subjects */
#lecture-notes .container{
  margin: auto;
  max-width: 1320px;
}
.lecture-notes{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-flow: row wrap;
}
.subject{
  flex-basis: 0;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  /*min-height: 210px;*/
  margin: 1%;
  padding: 30px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 300ms;
}
.subject::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: -1;
}
.subject:hover{
  box-shadow: 0 0 10px rgba(0,0,0,.7);
}
.subject .subject-title{
  font-size: 2.5rem;
  color: white;
  margin-bottom: 15px;
}
.subject .subject-description{
  font-size: 1.4rem;
  width: 70%;
  color: white;
  line-height: 1.9rem;
  text-align: left;
}
#subject1{
  background-image: url(./img/subject1-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#subject1::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
#subject2{
  background-image: url(./img/subject2-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
}
#subject2::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
#subject3{
  background-image: url(./img/subject3-bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}
#subject3::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
#subject4{
  background-image: url(./img/subject4-bg.jpg);
  background-size: cover;
  background-position: center;
  margin: 10px;
}
#subject4::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
/* END Lecture Notes Subjects */

/* Papers Page Introduction section */
#papers-description{
  background-image: url(./img/papers-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

#research .lecture-notes{
  margin-top: 0;
}
#research .container{
  min-height: 10vh;
}

#theses .lecture-notes{
  margin-top: 0;
}
#theses .container{
  min-height: 10vh;
}

#StabilityFKSTFT{
  background-image: url(./img/StabilityFKSTFT-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#StabilityFKSTFT::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#bachelors_thesis{
  background-image: url(./img/bachelors-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#bachelors_thesis::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
#masters_thesis{
  background-image: url(./img/masters-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#master_thesis::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#semesterpapers .lecture-notes{
  margin-top: 0;
}
#semesterpapers .container{
  min-height: 10vh;
}
#isop_ineq{
  background-image: url(./img/isoperimetric-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#isop_ineq::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#FKSTFT{
  background-image: url(./img/FKSTFT-bg.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#FKSTFT::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#scomm .lecture-notes{
  margin-top: 0;
}
#visualising_quotients{
  background-image: url(./img/quotients-bg.jpg);
  background-size: cover;
  margin: 10px;
  overflow: hidden;
}
#visualising_quotients::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
/* END Papers Page Introduction section */

/* Format for the semester paper pages */
.SP .section-description{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
/* END Format for the semester paper pages */

/* Bachelor's thesis */
#bachelors-description{
  background-image: url(./img/bachelors-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#Bachelorscontents .BC{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 0;
  padding: 30px 0 0;
}
#Bachelorscontents .BC .section-description{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
#Bachelorscontents .BC h3{
  padding-bottom: 20px;
}
#Bachelorspdf .BC{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 80px auto;
  padding-top: 0;
}
/* END Bachelor's thesis */

/* Bachelor's thesis */
#masters-description{
  background-image: url(./img/masters-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#masterscontents .BC{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 0;
  padding: 30px 0 0;
}
#masterscontents .BC .section-description{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
#masterscontents .BC h3{
  padding-bottom: 20px;
}
#masterspdf .BC{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 80px auto;
  padding-top: 0;
}
/* END Bachelor's thesis */

/* Isoper Semester Paper */
#isoperimetric-description{
  background-image: url(./img/isoperimetric-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#isoperimetric-contents .SP{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 0;
  padding: 30px 0 0;
}
#isoperimetric-contents .SP h3{
  padding-bottom: 20px;
}
#isoperimetric-pdf .SP{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 80px auto;
  padding-top: 0;
}
/* END Isoper Semester Paper */

/* FKSTFT Semester Paper */
#FKSTFT-description{
  background-image: url(./img/FKSTFT-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#FKSTFT-contents .SP{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 0;
  padding: 30px 0 0;
}
#FKSTFT-contents .SP h3{
  padding-bottom: 20px;
}
#FKSTFT-pdf .SP{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 80px auto;
  padding-top: 0;
}
/* END FKSTFT Semester Paper */

/* Visualising quotients */
#quotients-description{
  background-image: url(./img/quotients-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
#quotientscontents .VQ{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 0;
  padding: 30px 0 0;
}
#quotientscontents .VQ .section-description{
  width: 70%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
}
#quotientscontents .VQ h3{
  padding-bottom: 20px;
}
#quotientspdf .VQ{
  text-align: center;
  max-width: 1500px;
  margin: 0 auto 80px auto;
  padding-top: 0;
}
/* END Visualising quotients */

/* Footer section */
#footer .section-footer{
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
#footer .footer-copyright span{
  font-weight: bold;
}
/* END Footer section */

/* keyframes */
@keyframes text_reveal_box{
  50%{
    width: 100%;
    left: 0;
  }
  100%{
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal{
  100%{
    color: white;
  }
}
/* END Keyframes */

/* Media Query for Phone */
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .cta{
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  h1.section-title{
    font-size: 4rem;
  }
  .title{
    font-size: 3rem;
  }
  .section-description{
    margin-left: 20px;
    margin-right: 20px;
  }
  .subject{
    flex-basis: 80%;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
  }
  .subject .subject-description{
    width: 100%;
  }
  .pdf-frame iframe{
    width: 90%;
    height: 400px;
  }
  .geometry{
    width: 90%;
  }
  /* Jaime */
  #Jaime h1{
    font-size: 3.5rem;
  }
  /* END Jaime */
  #Bachelorscontents .BC .section-description{
    width: 90%;
  }
  .SP .section-description{
    width: 90%;
  }
  #quotientscontents .VQ .section-description{
    width: 90%;
  }
}
/* END Media Query for Phone */

/* Media Query for Tablet */
@media only screen and (min-width:768px) and (max-width: 1030px) {
  /* Jaime */
  #Jaime h1{
    font-size: 7rem;
  }
  /* END Jaime */
  .section-description{
    margin-left: 40px;
    margin-right: 40px;
  }
  .cta{
    padding: 10px 30px;
    background-color: transparent;
    font-size: 1.7rem;
  }
  .subject{
    flex-basis: 80%;
    flex-grow: 1;
    min-height: 0;
  }
  .geometry{
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }
}
/* END Media Query for Tablet */
/* Media Query for Desktop */
@media only screen and (min-width: 1031px) and (max-width: 1600px) {
  /* Header */
  #header .menu{
    display: none;
  }
  #header .container{
    align-items: right;
  }
  #header .navbar ul{
    margin-right: 30px;
    margin-left: auto;
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .navbar ul li{
    display: inline-block;
  }
  #header .navbar ul li a{
    font-size: 1.8rem;
  }
  /* END Header */
  /* AÑADIR AQUI LOS NUEVOS MARGENES PARA QUE COINCIDA TO BIEN */
  #lecture-notes .container{
    margin: auto;
    max-width: 82%;
  }
  .geometry{
    max-width: 82%;
  }
}
/* END Media Query for Desktop */
/* Media Query for Large Desktop */
@media only screen and (min-width: 1601px) {
  /* Header */
  #header .menu{
    display: none;
  }
  #header .container{
    align-items: right;
  }
  #header .navbar ul{
    margin-right: 30px;
    margin-left: auto;
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .navbar ul li{
    display: inline-block;
  }
  #header .navbar ul li a{
    font-size: 1.8rem;
  }
  /* END Header */
}
/* END Media Query for Large Desktop */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 1px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
